html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    width: 360px;
    padding: 20px;
    margin: 100px auto;
    background-color: white;
    border: 1px solid #533D7B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    .login-container h1, .login-container h2 {
        text-align: center;
        color: #533D7B;
    }

.form-group {
    margin-bottom: 10px;
}

    .form-group label {
        display: block;
        color: #533D7B;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #533D7B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: #452a59;
    }
