@page
@model QuotEase.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html lang="en">
<div style="width: 1512px; height: 400px; position: relative; background: white; left: -150px; top: 0px;">
    <div style="width: 1383px; height: 0px; left: 64px; top: 170px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
    <div style="width: 226px; height: 142px; left: 595px; top: 225px; position: absolute">
        <img style="width: 226px; height: 142px; left: 55px; top: 0px; position: absolute" src="~/image/MyLogo.png" />
    </div>
    <div style="left: 640px; top: 400px; position: absolute; text-align: center; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Welcome To QuotEase</div>
    <div style="left: 186px; top: 80px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">About Us</div>
    <div style="width: 1275px; left: 130px; top: 450px; position: absolute; text-align: center"><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">QuotEase is a Professional Business document maker Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Business document maker, with a focus on dependability and Business document maker. We're working to turn our passion for Business document maker into a booming </span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; text-decoration: underline; word-wrap: break-word">online website</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">. We hope you enjoy our Business document maker as much as we enjoy offering them to you.<br /><br />We will keep posting more important posts on our Website for all of you. Please give your support and love.</span></div>
    <div style="width: 1275px; left: 130px; top: 680px; position: absolute; text-align: right; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Thanks For Visiting Our Site.</div>

            </div>
        </div>
    </div>
</div>
</html>
