@page "/Invoice"
@model QuotEase.Pages.InvoiceModel
@{
    ViewData["Title"] = "Invoice";
}

<!DOCTYPE html>
<html lang="en">
<div style="width: 1275.69px; height: 1450px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 65px; display: inline-flex">

    <div style="color: #2284FF; font-size: 36.97px; font-family: Poppins; font-weight: 700; word-wrap: break-word; position: absolute; top: 70px; left:285px;">Invoice</div>
    <div style="width: 1383px; height: 0px; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 141px; left:285px;"></div>
    <div style="width: 250px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 420px; left:1000px;"></div>

    <div style="width: 266.83px; height: 31.95px; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex; position: absolute; top: 85px; left:1403px;">
        <div style="width: 139.79px; height: 31.95px; position: relative">
            <div style="width: 139.79px; height: 31.95px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 17.57px; border: 1px #533D7B solid"></div>
            <div style="width: 105.16px; height: 19.17px; left: 17.71px; top: 6.39px; position: absolute">
                <div style="width: 105.16px; height: 19.17px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; gap: 7.99px; display: inline-flex">
                    <div style="width: 19.17px; height: 19.17px; position: relative">
                    </div>
                    <img style="width: 106px; height: 20px; left: 0px; top: 0.17px; position: absolute;" src="~/image/Group 4.png" />
                </div>
            </div>
        </div>
        <div style="width: 103.04px; height: 31.95px; position: relative">
            <div style="width: 103.04px; height: 31.95px; left: 0px; top: 0px; position: absolute; background: #533D7B; border-radius: 17.57px"></div>
            <div style="width: 59.16px; height: 19.17px; left: 22.34px; top: 6.39px; position: absolute">
                <div style="width: 59.16px; height: 19.17px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; gap: 7.99px; display: inline-flex">
                    <div style="width: 19.17px; height: 19.17px; position: relative">
                    </div>
                    <img style="width: 60px; height: 20px; left: 0px; top: 0.17px; position: absolute;" src="~/image/Group5.png" />
                </div>
            </div>
        </div>
    </div>

    <div style="width: 704px; height: 248px; justify-content: flex-start; align-items: flex-start; gap: 45px; display: inline-flex; position: absolute; top: 170px; left:285px;">
        <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 12px; display: inline-flex">
                <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                    <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                            <div style="width: 239px; height: 40px; position: relative">
                                <div style="width: 280px; height: 40px; left: -1px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                                <div style="width: 204px; height: 40px; left: 15.50px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Invoice NO. #</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                    <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <div style="width: 239px; height: 40px; position: relative">
                            <div style="width: 280px; height: 40px; left: -1px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                            <img style="width: 18px; height: 20px; left: 236px; top: 10px;position: absolute;" src="~/image/mw.png" />
                            <div style="width: 204px; height: 40px; left: 15.50px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Date</div>
                        </div>
                    </div>
                </div>
                <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                    <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <div style="width: 239px; height: 40px; position: relative">
                            <div style="width: 280px; height: 40px; left: -1px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                            <div style="width: 204px; height: 40px; left: 15.50px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Reference Quotation NO. #</div>
                        </div>
                    </div>
                </div>
                <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                    <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <div style="width: 239px; height: 40px; position: relative">
                            <div style="width: 280px; height: 40px; left: -1px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                            <div style="width: 204px; height: 40px; left: 15.50px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Terms (Days)</div>
                        </div>
                    </div>
                </div>
                <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                    <div style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <div style="width: 239px; height: 40px; position: relative">
                            <div style="width: 280px; height: 40px; left: -1px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                            <img style="width: 18px; height: 20px; left: 236px; top: 10px;position: absolute;" src="~/image/mw.png" />
                            <div style="width: 204px; height: 40px; left: 15.50px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Due Date</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex; position: absolute; left:325px;">
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Customer: #</div>
                </div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Customer’s Email: #</div>
                </div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Customer’s Tax ID: #</div>
                </div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 22px; border: 1px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Customer’s Address: #</div>
                </div>
            </div>
        </div>
    </div>

    <div style="width: 1383px; height: 0px; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 450px; left:285px;"></div>

    <div style="width: 1383px; height: 935px; position: absolute; top: 480px; left:285px;">
        <div style="left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                <div style="height: 206px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                    <div style="width: 175px; height: 27px; color: #2284FF; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word">ORDER : 1</div>
                    <div style="width: 175px; height: 27px; color: #6D5593; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Service</div>
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="width: 718px; height: 128px; position: relative">
                            <div style="width: 611.11px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Order #</div>
                                <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">12345678910</div>
                            </div>
                            <div style="width: 718px; height: 74px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Description #</div>
                                <div style="width: 718px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet consectetur. Tristique diam sapien proin aenean amet tortor amet egestas. Arcu velit dolor ac turpis ipsum. Ac fames mattis eu fermentum at eu. Fringilla purus integer velit dictum. Tincidunt in id id blandit. Aliquet velit amet posuere dui bibendum. Eget quisque mattis ullamcorper euismod nibh felis pellentesque.</div>
                            </div>
                        </div>
                        <div style="width: 125px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 200px; left:720px;"></div>
                        <div style="width: 143px; height: 96px; position: relative">
                            <div style="width: 121.71px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">QTY. #</div>
                                <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">20</div>
                            </div>
                            <div style="width: 143px; height: 42px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">UNIT #</div>
                                <div style="width: 309px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">PCS</div>
                            </div>
                        </div>
                        <div style="width: 154px; height: 96px; position: relative">
                            <div style="width: 131.07px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">QTY.  / UNIT</div>
                                <div style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                    <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">20</div>
                                    <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">PCS</div>
                                </div>
                            </div>
                            <div style="width: 154px; height: 42px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">PRICE PER UNIT #</div>
                                <div style="width: 309px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">130</div>
                            </div>
                        </div>
                        <div style="width: 263px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                            <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Total price</div>
                            <div style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #6FCF97; font-size: 14px; font-family: Roboto; font-weight: 700; word-wrap: break-word">1,551.50</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 1383px; height: 0px; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 250px; left:0px;"></div>
            </div>

            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex; position: absolute; top: 280px; left:0px;">
                <div style="height: 206px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                    <div style="width: 175px; height: 27px; color: #2284FF; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word">ORDER : 2</div>
                    <div style="width: 175px; height: 27px; color: #6D5593; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Service</div>
                    <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="width: 718px; height: 128px; position: relative">
                            <div style="width: 611.11px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Order #</div>
                                <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">12345678910</div>
                            </div>
                            <div style="width: 718px; height: 74px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Description #</div>
                                <div style="width: 718px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet consectetur. Placerat erat aliquet viverra nunc. Velit sem pharetra porttitor tristique sit viverra est urna at. Amet lobortis placerat adipiscing donec neque gravida. Nunc neque diam commodo gravida a augue vulputate a.</div>
                            </div>
                        </div>
                        <div style="width: 125px; height: 0px; transform: rotate(-90deg); transform-origin: 0 0; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 200px; left:720px;"></div>
                        <div style="width: 143px; height: 96px; position: relative">
                            <div style="width: 121.71px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">QTY. #</div>
                                <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">20</div>
                            </div>
                            <div style="width: 143px; height: 42px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">UNIT #</div>
                                <div style="width: 309px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">PCS</div>
                            </div>
                        </div>
                        <div style="width: 154px; height: 96px; position: relative">
                            <div style="width: 131.07px; height: 42px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">QTY.  / UNIT</div>
                                <div style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                    <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">20</div>
                                    <div style="color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">PCS</div>
                                </div>
                            </div>
                            <div style="width: 154px; height: 42px; left: 0px; top: 54px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">PRICE PER UNIT #</div>
                                <div style="width: 309px; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">130</div>
                            </div>
                        </div>
                        <div style="width: 263px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                            <div style="color: #ACACAC; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Total price</div>
                            <div style="justify-content: flex-start; align-items: flex-start; gap: 5px; display: inline-flex">
                                <div style="color: #6FCF97; font-size: 14px; font-family: Roboto; font-weight: 700; word-wrap: break-word">1,551.50</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 1383px; height: 0px; border: 1px rgba(83, 61, 123, 0.50) solid; position: absolute; top: 535px; left:0px;"></div>
        </div>

        <div style="left: 0px; top: 508px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex; position: absolute; top: 560px; left:0px;">
            <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                <div style="width: 145px; height: 186px; position: relative">
                    <div style="width: 145px; height: 153px; left: 0px; top: 33px; position: absolute; background: white; border-radius: 10px; border: 0.50px #533D7B solid"></div>
                    <div style="width: 30px; height: 30px; left: 58px; top: 93px; position: absolute">
                        <img style="idth: 30px; height: 30px; left: 3.75px; top: 3.75px; position: absolute;" src="~/image/add_photo.png" />
                    </div>
                    <div style="width: 144px; height: 27px; left: 1px; top: 0px; position: absolute; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Rubber stamp:</div>
                </div>
                <div style="width: 279px; height: 178px; position: relative">
                    <div style="width: 144px; height: 27px; left: 0px; top: 0px; position: absolute; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Autography:</div>
                    <div style="width: 279px; height: 145px; left: 0px; top: 33px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                        <div style="width: 279px; height: 142px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                            <div style="width: 279px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                                <div style="width: 279px; height: 142px; position: relative">
                                    <div style="width: 280px; height: 151px; left: -1px; top: -0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #533D7B solid"></div>
                                    <div style="width: 30px; height: 30px; left: 125px; top: 56px; position: absolute">
                                        <img style="idth: 30px; height: 30px; left: 3.75px; top: 3.75px; position: absolute;" src="~/image/add_photo.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 11px; display: inline-flex">
                    <div style="width: 195px; height: 27px; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Terms & Conditions:</div>
                    <div style="width: 498px; height: 86px; background: white; border-radius: 10px; border: 0.50px #533D7B solid"></div>

                    <div style="width: 498px; height: 48px; position: relative">
                        <div style="width: 498px; height: 48px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 6px; border: 0.50px #533D7B solid"></div>

                    </div>
                </div>

            </div>

            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="height: 244px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex; margin-right: 13px;">
                    <div style="width: 275px; height: 27px; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Customer’s Acknowledgement</div>
                    <div style="width: 445px; height: 145px; position: relative">
                        <div style="width: 445px; height: 145px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #533D7B solid"></div>
                        <img style="width: 30px; height: 30px; left: 211px; top: 61px; position: absolute;" src="~/image/add_photo.png" />
                    </div>

                    <div style="width: 447px; height: 48px; color: #ACACAC; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">***Please return this purchase order with acknowledge signature within 4 days after received***</div>
                </div>

                <div style="height: 244px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex; margin-left: 13px;">
                    <div style="width: 275px; height: 27px; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Deliverer’s Acknowledgement</div>
                    <div style="width: 499px; height: 145px; position: relative">
                        <div style="width: 499px; height: 145px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 0.50px #533D7B solid"></div>
                        <img style="width: 30px; height: 30px; left: 235px; top: 61px; position: absolute;" src="~/image/add_photo.png" />
                    </div>
                </div>
            </div>



        </div>

        <div style="left: 1031px; top: 516px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex; position: absolute; top: 560px; left:1038px;">
            <div style="width: 345px; height: 27px; position: relative">
                <div style="width: 214px; height: 27px; left: 0px; top: 0px; position: absolute; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">TOTAL</div>
                <div style="width: 111px; height: 27px; left: 234px; top: 0px; position: absolute; text-align: right; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">1,470.00</div>
            </div>
            <div style="width: 345px; height: 27px; position: relative">
                <div style="width: 111px; height: 27px; left: 234px; top: 0px; position: absolute; text-align: right; color: #ECB800; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">20.00</div>
                <div style="width: 214px; height: 27px; left: 0px; top: 0px; position: absolute; color: #ECB800; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">DISCOUNT</div>
            </div>
            <div style="width: 345px; height: 27px; position: relative">
                <div style="width: 111px; height: 27px; left: 234px; top: 0px; position: absolute; text-align: right; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">1,450.00</div>
                <div style="width: 214px; height: 27px; left: 0px; top: 0px; position: absolute; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">NET TOTAL AMOUNT</div>
            </div>
            <div style="width: 345px; height: 27px; position: relative">
                <div style="width: 111px; height: 27px; left: 234px; top: 0px; position: absolute; text-align: right; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">101.50</div>
                <div style="width: 243px; height: 27px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 214px; height: 27px; left: 29px; top: 0px; position: absolute; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">VAT 7%</div>
                    <div style="width: 20px; height: 20px; left: 0px; top: 1px; position: absolute">
                        <div style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; border-radius: 3px; border: 1px #3D4147 solid"></div>
                        <img style="width: 13px; height: 10px; left: 5px; top: 6px; position: absolute;border: 2px" src="~/image/Shape.png" />
                    </div>
                </div>
            </div>
            <div style="width: 345px; height: 20px; position: relative">
                <div style="width: 111px; height: 20px; left: 234px; top: 0px; position: absolute; text-align: right; color: #6FCF97; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">1,551.50</div>
                <div style="width: 214px; height: 20px; left: 0px; top: 0px; position: absolute; color: #6FCF97; font-size: 16px; font-family: Poppins; font-weight: 700; word-wrap: break-word">TOTAL AMOUNT WITH VAT</div>
            </div>
            <div style="width: 352px; height: 0px; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
            <div style="width: 243px; height: 27px; position: relative">
                <div style="width: 214px; height: 27px; left: 29px; top: 0px; position: absolute; color: #3D4147; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Withholding tax 3%</div>
                <div style="width: 20px; height: 20px; left: 0px; top: 1px; position: absolute; border-radius: 3px; border: 1px #3D4147 solid"></div>
            </div>

            <div style="width: 356px; height: 174px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 9px; display: inline-flex">
                <div style="width: 218px; height: 27px; color: #6D5593; font-size: 16px; font-family: Poppins; font-weight: 600; word-wrap: break-word"> Payment details:</div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 36px; border: 0.50px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">ธนาคารกสิกรไทย</div>
                </div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 36px; border: 0.50px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">QuotEase Co.,Ltd.</div>
                </div>
                <div style="width: 356px; height: 40px; position: relative">
                    <div style="width: 356px; height: 40px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 36px; border: 0.50px #533D7B solid"></div>
                    <div style="width: 318px; height: 40px; left: 17px; top: 0px; position: absolute; color: #3D4147; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">046-334-2345</div>
                </div>
            </div>
        </div>
    </div>


    <div style="width: 605px; height: 163px; position: absolute; top: 170px; left:1050px;">
        <div style="width: 22px; height: 22px; left: 572px; top: 0px; position: absolute">
            <img style="width: 21.83px; height: 21.83px; left: 0px; top: 0.17px; position: absolute;" src="~/image/edit02.png" />
        </div>
        <div style="width: 241px; height: 27px; left: 251px; top: 4px; position: absolute; color: #6D5593; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">QuotEase Co.,Ltd.</div>
        <div style="width: 354px; left: 251px; top: 39px; position: absolute; color: #4F4F4F; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">310,  Jamjuree Building, Samsen Rd,<br />Wat Sam Phraya, Phra Nakhon,<br />Bangkok 10200, Thailand</div>
        <div style="left: 251px; top: 116px; position: absolute; color: #4F4F4F; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">information@quotease.co</div>
        <div style="left: 251px; top: 142px; position: absolute; color: #4F4F4F; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Tax ID : xxxxxxxxxxxx</div>
        <div style="left: 452px; top: 116px; position: absolute; color: #4F4F4F; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">(+66) 02 - 444 - 8888</div>

        <div style="width: 226px; height: 142px; left: 0px; top: 20px; position: absolute">
            <img style="width: 226px; height: 142px; left: 0px; top: 0px; position: absolute" src="~/image/MyLogo.png" />
        </div>
    </div>
</div>

</div>

</html>