@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}

<!DOCTYPE html>
<html lang="en">
<div style="width: 1512px; height: 6600px; position: relative; background: white; left: -150px; top: 0px;">

    <div style="left: 186px; top: 80px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Privacy Policy</div>
    <div style="width: 1383px; height: 0px; left: 64px; top: 170px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>

    <div style="width: 1217px; height: 248px; left: 226px; top: 6237px; position: absolute">
        <div style="width: 1148px; left: 69px; top: 68px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">If you have any questions about this privacy policy, you can contact us<br /><br />          By email: information@quotease.co.th<br />          By Official Instagram account: QuotEase_Official<br />          By Official Facebook account: QuotEase_Official<br />          By Official X (Twitter) account: QuotEase_Official</div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Contact Us</div>
    </div>

    <div style="width: 1383px; height: 0px; left: 109px; top: 6177px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
    <div style="width: 1217px; height: 308px; left: 226px; top: 5807px; position: absolute">
        <div style="width: 1148px; left: 69px; top: 68px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page.
            <br />
            <br />We will let you know via email and/or a prominent notice on our service, prior to the change becoming effective and update the "Last updated" date at the top of this privacy policy.
            <br />
            <br />You are advised to review this privacy policy periodically for any changes. Changes to this privacy policy are effective when they are posted on this page.
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Changes to this Privacy Policy</div>
    </div>
    <div style="width: 1383px; height: 0px; left: 109px; top: 5747px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
    <div style="width: 1217px; height: 218px; left: 226px; top: 5477px; position: absolute">
        <div style="width: 1148px; left: 69px; top: 68px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            Our service may contain links to other websites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the privacy policy of every site you visit.
            <br />
            <br />We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Links to Other Websites</div>
    </div>
    <div style="width: 1383px; height: 0px; left: 109px; top: 5427px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
    
    <div style="width: 1200px; height: 308px; left: 210px; top: 5100px; position: absolute">
        <div style="width: 1148px; left: 52px; top: 68px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            Our service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your child has provided us with personal data, please contact us. If we become aware that we have collected personal data from anyone under the age of 13 without verification of parental consent, we take steps to remove that information from our servers.
            <br />
            <br />If we need to rely on consent as a legal basis for processing your information and your country requires consent from a parent, we may require your parent's consent before we collect and use that information.
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 35px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Children's Policy</div>
    </div>
    <div style="width: 1383px; height: 0px; left: 93px; top: 5050px; position: absolute; border: 1px rgba(83, 61, 123, 0.50) solid"></div>
    <div style="width: 1325px; height: 143px; left: 93px; top: 4870px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Security of your Personal Data</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">          The security of your personal data is important to us, but remember that no method of transmission over the internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security.</div>
    </div>
    <div style="width: 1325px; height: 533px; left: 93px; top: 4290px; position: absolute">
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute">
            <span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Business Transactions<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">          If the company is involved in a merger, acquisition or asset sale, your personal data may be transferred. We will provide notice before your personal data is transferred and becomes subject to a different privacy policy.<br /><br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Law enforcement<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">          Under certain circumstances, the company may be required to disclose your personal data if required to do so by law or in response to valid requests by public authorities.<br /><br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Law enforcement<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                The company may disclose your personal data in the good faith belief that such action is necessary to:
                <br />
                <br />      * comply with a legal obligation
                <br />      * protect and defend the rights or property of the company
                <br />      * prevent or investigate possible wrongdoing in connection with the service
                <br />      * protect the personal safety of users of the service or the public
                <br />      * protect against legal liability
            </span>
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Disclosure of your personal data</div>
    </div>
    <div style="width: 1325px; height: 683px; left: 93px; top: 650px; position: absolute">
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute">
            <span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                For the purposes of this privacy policy:
                <br />
                <br />     * account means a unique account created for you to access our service or parts of our service.
                <br />     * affiliate means an entity that controls, is controlled by or is under common control with a party, where "Control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of directors or other managing authority.
                <br />     * company (referred to as either "The company", "We", "Us" or "Our" in this agreement) refers to quotease.
                <br />     * cookies are small files that are placed on your computer, mobile device or any other device by a website, containing the details of your browsing history on that website among its many uses.
                <br />     * country refers to: Thailand
                <br />     * device means any device that can access the service such as a computer, a cellphone or a digital tablet.
                <br />     * personal data is any information that relates to an identified or identifiable individual.
                <br />     * service refers to the website.
                <br />     * service provider means any natural or legal person who processes the data on behalf of the company. It refers to third-party companies or individuals employed by the company to facilitate the service, to provide the service on behalf of the company, to perform services related to the service or to assist the company in analyzing how the service is used.
                <br />     * usage data refers to data collected automatically, either generated by the use of the service or from the service infrastructure itself (for example, the duration of a page visit).
                <br />     * website refers to
            </span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">QuotEase</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">, accessible from [</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; text-decoration: underline; word-wrap: break-word">www.Quotease.co.th</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">]   (</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; text-decoration: underline; word-wrap: break-word">www.Quotease.co.th</span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">)<br />     * you means the individual accessing or using the service, or the company, or other legal entity on behalf of which such individual is accessing or using the service, as applicable.</span>
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Definitions</div>
    </div>
    <div style="width: 1325px; height: 773px; left: 93px; top: 1350px; position: absolute">
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute">
            <span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Types of data collected<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word"><br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Personal Data<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to:<br />      * email address
                <br />      * first name and 
                name
                <br />      * phone number
                <br />      * address, state, province, zip/postal code, city
                <br />      * usage data<br /><br />
            </span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Usage Data<br /></span><span style="color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
                Usage data is collected automatically when using the service.
                <br />
                <br />          Usage data may include information such as your device's internet protocol address (e.G. Ip address), browser type, browser version, the pages of our service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                <br />
                <br />          When you access the service by or through a mobile device, we may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device unique id, the ip address of your mobile device, your mobile operating system, the type of mobile internet browser you use, unique device identifiers and other diagnostic data.
                <br />
                <br />          We may also collect information that your browser sends whenever you visit our service or when you access the service by or through a mobile device.
            </span>
        </div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Collecting and Using your personal data</div>
    </div>
    <div style="width: 1325px; height: 113px; left: 93px; top: 500px; position: absolute">
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">          The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</div>
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Interpertation</div>
    </div>
    <div style="width: 1325px; height: 173px; left: 93px; top: 2100px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Tracking Technologies and Cookies</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">          We use Cookies and similar tracking technologies to track the activity on Our service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze.<br />          Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal computer or mobile device when you go offline, while Session Cookies are deleted as soon as you close your web browser. </div>
    </div>
    <div style="width: 1325px; height: 263px; left: 93px; top: 3250px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Retention of your Personal Data</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            The company will retain your personal data only for as long as is necessary for the purposes set out in this privacy policy. We will retain and use your personal data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
            <br />
            <br />          The company will also retain usage data for internal analysis purposes. Usage data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our service, or we are legally obligated to retain this data for longer time periods.
        </div>
    </div>
    <div style="width: 1325px; height: 383px; left: 93px; top: 3522px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Transfer of your Personal Data</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            Your information, including personal data, is processed at the company's operating offices and in any other places where the parties involved in the processing are located. It means that this information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
            <br />
            <br />          Your consent to this privacy policy followed by your submission of such information represents your agreement to that transfer.<br /><br />          The company will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy and no transfer of your personal data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
        </div>
    </div>
    <div style="width: 1325px; height: 353px; left: 93px; top: 3900px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Delete your Personal Data</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            You have the right to delete or request that we assist in deleting the personal data that we have collected about you.
            <br />
            <br />          Our service may give you the ability to delete certain information about you from within the service.
            <br />
            <br />          You may update, amend, or delete your information at any time by signing in to your account, if you have one, and visiting the account settings section that allows you to manage your personal information. You may also contact us to request access to, correct, or delete any personal information that you have provided to us.
            <br />
            <br />          Please note, however, that we may need to retain certain information when we have a legal obligation or lawful basis to do so.
        </div>
    </div>
    <div style="width: 1325px; height: 1073px; left: 93px; top: 2305px; position: absolute">
        <div style="left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 25px; font-family: Poppins; font-weight: 700; word-wrap: break-word">Use of your Personal Data</div>
        <div style="width: 1275px; left: 50px; top: 53px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            The company may use personal data for the following purposes:
            <br />      * to provide and maintain our service , including to monitor the usage of our service.
            <br />      * to manage your account: to manage your registration as a user of the service. The personal data you provide can give you access to different functionalities of the service that are available to you as a registered user.
            <br />      * for the performance of a contract: the development, compliance and undertaking of the purchase contract for the products, items or services you have purchased or of any other contract with us through the service.
            <br />      * to contact you: to contact you by email, telephone calls, sms, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.
            <br />      * to provide you with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless you have opted not to receive such information.
            <br />      * to manage your requests: to attend and manage your requests to us.
            <br />      * for business transfers: we may use your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal data held by us about our service users is among the assets transferred.
            <br />      * for other purposes : we may use your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our service, products, services, marketing and your experience.
            <br />
            <br />          We may share your personal information in the following situations:
            <br />      * with service providers: we may share your personal information with service providers to monitor and analyze the use of our service, to contact you.<br />      * for business transfers: we may share or transfer your personal information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.<br />      * with affiliates: we may share your information with our affiliates, in which case we will require those affiliates to honor this privacy policy. Affiliates include our parent company and any other subsidiaries, joint venture partners or other companies that we control or that are under common control with us.
            <br />      * with business partners: we may share your information with our busines partners to offer you certain products, services or promotions.
            <br />      * with other users: when you share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside.<br />      * with your consent : we may disclose your personal information for any other purpose with your consent.
        </div>
    </div>
    <div style="width: 1148px; height: 250px; left: 271px; top: 230px; position: absolute">

        <div style="width: 1148px; left: 0px; top: 70px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">
            This 
            
            
            policy describes our policies and procedures on the collection,
            <br />Use and disclosure of your information when you use the service and tells you about your privacy rights and how the law protects you.
            <br />
            <br />We use your personal data to provide and improve the service. By using the service, you agree to the collection and use of information in accordance with this privacy policy.
        </div>
        <div style="width: 280px; left: 0px; top: 0px; position: absolute; color: #533D7B; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Last updated: March 30, 2024</div>
    </div>
</div>
</html>


